/* Day 1 03/09 */

/* body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}


.login-box h2 {
    margin-bottom: 30px;
font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.login-box input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

.login-box button {
    width: 40%;
    padding: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    margin: 10px 0;
    border: none;
    border-radius: 5px;

}

.login-box button:hover {

    color: #0056b3;
} 

.message {
    margin-top: 15px;
    color: red;
    font-size: 14px;
} */

/* Day 2 */

/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.login-content h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.login-content input {
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    margin: 10px 0px;
    font-size: 13px;
    font-weight: 550;

    
}

.login-content button {
    width: 40%;
    padding: 10px;
    font-weight: 700;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.login-content button:hover {
    background-color:  #0056b3;
} */

/* Day 3  05-06 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #eee;
  display: flex;
}
.container {
    margin: auto;
  width: 500px;
  max-width: 90%;
  
}

.container form {
    width: 100%;
    height: 100%;
    background-color: white;
  padding: 20px;
  box-shadow: 0 8 16px rgba(0, 0, 0, 0.3);
  
  border-radius: 4px;
}

.container h1 {
  margin-bottom: 24px;
  text-align: center;
  color: #222;
  
}


.container .form-control {
  width: 100%;
  height: 40%;
  padding: 8px;
  background-color: white;
  margin: 10px 0 18px 0;
  border: 1px solid silver;
  border-radius: 4px;
}

.container form .btn {
  color: white;
  background: #27a327;
  font-size: 16px;
  margin-left: 50%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: translate(-50%);
  width: 120px;
  height: 34px;
  outline: none;
  text-transform: uppercase;
  transition: .3s;
}

.container form .btn:hover {
    opacity: .7;
}
